body
{
	background-color: #FFF;
	text-align: center;
}
nav
{
	color:#ffffff;
}

nav li
{
	text-decoration: none;
	list-style: none;
	display: inline-block;
	padding:2px;
}

nav li a ul
{
	color:#ffffff;

}

/*DIV - FORM*/
·div-form
{
	text-align: center;
}

.button-trad
{
	border: solid 2px #10aaff;
}